@model WebMVC.Models.SeleccionViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Estás seguro que querés borrar esta selección?</h3>
<div>
    <h4>SeleccionViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreSeleccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreSeleccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGrupo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGrupo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPaisSeleccionado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPaisSeleccionado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGrupoSeleccionado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGrupoSeleccionado)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
